<app-table
  [apiObjForService]="apiForTable"
  [controlObjForService]="controlForTable"
></app-table>

<div style="display: flex; justify-content: center; margin-top: 50px">
  <h1>****Same table reused (Configuration-2) ****</h1>
</div>

<app-table
  [apiObjForService]="apiForTable2"
  [controlObjForService]="controlForTable2"
></app-table>

<div style="display: flex; justify-content: center; margin-top: 50px">
  <h1>****Same table reused (Configuration-3) Filter Added ****</h1>
</div>

<app-table
  [apiObjForService]="apiForTable3"
  [controlObjForService]="controlForTable3"
></app-table>
